    html {
        scroll-behavior: smooth;
        margin-top: 86px;
        background: #31A28B;
    }

    h1 {
        margin: 30px 0 20px 0;
    }

    h1, h2, h3 {
        text-align: center;
    }

	h1,h2,h3,h4,h5,h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
		font-family: 'Arapey',serif;
	}

	h2 {
		font-size:2.3rem;
	}

    h4 a {
        font-size: 1.5rem;
    }

	p, li, a {
		font-size:1rem;
        font-family: 'Montserrat',sans-serif;
	}

    section {
        background: white;
        padding-top: 20px;
        position: relative;
    }

    #events {
        margin-top:50px;
    }


    a {
        color:black;
        text-decoration: underline;
    }

    hr {
       border: 2px solid #31A28B;
    }

    .fullImgWrapper img{
        width: 100%;
    }

	.bg-light {
		background-color: #31A28B!important;
        z-index: 999;
	}

    .navbar {
        position: fixed;
        width: 100%;
        transition: 0.2s;
        top:0;
    }
	.navbar-light .navbar-nav .nav-link {
		font-family: 'Arapey', serif;
		font-size: 18pt;
/*    		color: rgba(11, 89, 42, 0.7);
*/    		color: white;
        text-decoration: none;
	}

    .dropdown-item {
        font-family: 'Arapey', serif;
        font-size: 14pt;
        text-decoration: none;
        text-align: center;
    }

	.navbar-brand {
		font-family: 'Arapey', cursive;
		font-size: 3rem;
		color: white !important;
        text-decoration: none;
        line-height: 0.95;
	}

    .nav-down {
        top:0px;
    }
    .nav-up {
        top:-82px;
    }

	.navbar-light .navbar-toggler {
		color: white;
	}
	.logo {
		width: 130px;
	}

    .logo-facilitation {
        font-size:12pt;
        margin:0 auto;
        padding:0;
        display:block;
        text-align: left;
        letter-spacing: 3.7px;
        text-transform: uppercase;
    }

    #hamburger-button {
        font-size:35px;
        cursor:pointer;
    }

/*        BEGIN MOBILE FULL-WIDTH NAV*/

    #mobileNav li {
        list-style-type: none;
    }

    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      background-color: #31A28B;
      background-color: rgba(49,162,139, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }

    .overlay-content {
      position: relative;
      width: 100%;
      margin-top: 30px;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }

    .overlay .closebtn {
      position: absolute;
      top: 0;
      right: 18px;
      font-size: 60px;
    }

    @media screen and (max-height: 450px) {
      .overlay a {font-size: 20px}
      .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
      }
    }

/*        END MOBILE FULL WIDTH NAV
*/

    .button {
        line-height: 2.3;
        font-size: 1.2rem;
        text-align: center;
        color: white;
        text-decoration: none;
        width: 150px;
        height: 50px;
        display: block;
        background:#31A28B;
        margin: 0 auto;
        border: 2px solid #156756;
        border-radius: 8px;
    }

    .button:hover {
        text-decoration: none;
        color: white;
        border: 3px solid white;
        transition: 0.5s;
    }

    .block{
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .img-parallax {
        z-index: 1;
        position: relative;
    }

	#overview {
		background: url('../IMG/watercolor.jpg');
		background-size: cover;
        background-position: center;
        background-size: cover;
        height: 600px;
        margin-bottom: 0;
	}

	#overview .lead {
		font-size: 2.5rem;
		text-align: center;
		max-width: 800px;
		margin:0 auto;
        font-family: 'Arapey', serif;
		}

    #overview .container {
        background: rgba(255, 255, 255, 0.6);
        max-width: 100%;
        padding: 20px;
        margin-top:100px;
    }

    #img-blindfold {
        top: 680px;
    }

    #approach-wrapper {
        background:#625848;
        height: 800px;
    }

    #approach {
        background: url('../IMG/blindfold3.jpg');
        background-size: cover;
        background-position: left top;
        width: 100%;
        background-repeat: no-repeat;
        height: 100%;
        background-attachment: scroll;
        background-attachment: fixed;
    }

    .approach-credit {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 0;
        background:rgba(0,0,0,0.3);
        padding:3px;
        border-radius: 3px;
    }

    .approach-credit, .approach-credit a {
        color: darkgrey;
    }

    #approach h1 {
        margin-top:0;
    }

    #approach h1, .offerings-copy h3 {
        color:white;
    }

	#approach .container {
		background:rgba(49, 162, 139, 0.96);
		padding: 25px 40px 20px 40px;
        border-radius: 8px;
        position: relative;
        top:300px;
        max-width: 770px;
        color: white;
        z-index: 9;
	}

    #why-gather-section {
        padding-top:0;
    }

    #contact-section {
        background: #125245;
    }

    .why-gather-bg {
        padding:60px;
        background: #9dd4c9;
    }

    .why-gather {
        background:white;
        padding:15px;
        border: 5px solid #31A28B;
    }

    .why-gather p {
        font-family: 'Arapey', serif;
        font-size: 1.2rem;
    }

    .offerings-container {
        margin: 0 5%;
    }

    #offeringsTitle {
    }

    .offeringsImg {
        border-radius: 50%;
        width: 100%;
        max-width: 140px;
        margin: 0 auto;
        display: block;

        margin-bottom: 10px;
        border:3px solid white;
    }
	.offerings-copy {
		background: rgba(49, 162, 139, 0.92);
		padding: 10px;
		margin: 0 0 30px 0;
        border-radius: 8px;

	}

    .offerings-copy p {
        padding:0 20px 20px 20px;
        font-size:1.1rem;
        line-height: 1.5;
    }

    .current-events-title {
        background: #31A28B;
        padding: 10px 0 8px 0;
        color:white;
        margin: 0;
    }

    #moishe-retreats {
        width: 200px;
        margin: 20px auto;
        display: block;
        border: 5px solid white;
        border-radius: 15px;
    }
    .current-events-copy {
        padding:15px;
    }
    
    #past-events-title {
        background: white;
        color:#31A28B;
        width: 100%;
        padding: 5px 0 2px 0;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top:0;
    }

    .past-events-bg {
        background: url('../IMG/forest-path.jpeg');
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top:80px;
        background-size:cover;
        border-radius: 0 0 0 8px;
    }

    .events-copy {
        background: #31A28B;
        padding: 30px !important;
        border-radius: 0 0 8px 0;
    }

    .events-copy h4, .events-copy h4 a {
        color: #212529;
    }

    .events-copy p {
        color:white;
    }

    .about-copy {
        position: absolute;
        color:white;
        max-width: 530px;
        font-weight: lighter;
        padding: 20px 2% 2% 2%;
        background: rgba(70,70,70,0.6);
        border-radius: 8px;
        margin: 5%;
    }

    .about-copy-sm {
        margin-top: 20px;
    }

	#aboutImg {
		width: 32%;
		float: left;
        padding: 0;
        border-radius: 8px;
        margin-right: 20px;
    }

    #aboutImg2 {
        width: 100%;

    }

	#elena-headshot {
		width: 100%;
	}

	#read-more {
		float: right;
		font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
	}

    .ed-links {
        font-weight: bolder;
    }

    #linked-in {
        text-align: right;
        display: block;
        font-size: 110%;

    }

    .partners {
        width: 300px;
        margin:0 auto;
        padding:12px;
        display: block;
    }

    #mh-logo {
        height: 120px;
        width: inherit;
    }

    #frame-one185555046 {
        width: 500px;
        margin: 0 auto !important;
        display: block;
    }

    footer {
        text-align: center;
        background: #032d26;
        color: grey;
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 60px;
    }

    .credits a {
        color: grey;
        text-decoration: underline;
        font-size: 10pt;
    }

    footer p {
        padding: 10px 0 10px 0;
        margin: 0;
        font-weight: 100;
        font-size: 10pt;
    }

    .copyright p {
        color: rgb(193, 193, 193);
    }

    .copyright a {
        text-decoration: none;
        color: white;
        font-size: 10pt;
    }


@media screen and (max-width: 1200px) {
    .about-copy {
        padding: 20px;
        margin: 20px;
    }
}

@media screen and (max-width : 992px)   {
#overview .lead  {
	font-size: 2rem;
}

#overview {height: 500px;}

}

@media screen and (min-width: 768px) {
    #approach {
        background-attachment: fixed;
    }
}

@media screen and (min-width : 767px)  {

    .offerings-copy {
        margin:0 2%;
    }

    #offerings1 .offerings-copy h3{
        margin: 10px 0 20px 0;
    }

    #offerings2 .offerings-copy img{
        margin-bottom:12px;
    }

    #offerings1 .offerings-copy, #offerings2 .offerings-copy {
        height: 385px;
    }

    #offerings3 .offerings-copy {
            height: 330px;
        }

    #offerings1 .offerings-copy, #offerings2 .offerings-copy {
        margin-bottom: 40px;
    }

    .current-events-title {
        border-radius: 8px 8px 0 0;
    }

    .current-events-copy {
        background:#9dd4c9;
    }

}

@media screen and (max-width: 992px) and (min-width: 768px) {

    #offerings1 .offerings-copy {
        margin-left: 20px;
    }

    #offerings2 .offerings-copy {
        margin-right: 20px;
    }

    #offerings1 .offerings-copy, #offerings2 .offerings-copy {
        height: 440px;
    }

    .events-copy {
        border-radius:0 0 8px 8px;
    }

    .current-events-bg {
        background: url('../IMG/green-door.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        background-position: right;
        height: 450px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #offerings1 .offerings-copy {
        margin-left: 20px;
    }

    #offerings2 .offerings-copy {
        margin-right: 20px;
    }
}

@media screen and (min-width: 992px) {

    .current-events-title {
        border-radius: 8px 0 0 0;
    }

    .current-events-bg {
        background: url('../IMG/green-door.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 8px 0 0;
        background-position: right;
    }

    .navbar {
        position: fixed;
        width: 100%;
    }

    #why-gather-section {
    }
}

@media screen and (min-width : 1200px)   {

    .offerings-copy {
        padding-top: 70px;
        min-height: 480px;
    }

    #offerings1 .offerings-copy, #offerings2 .offerings-copy {
        min-height: 480px;
    }

    #approach .container {
        margin-left:32%;
    }

    #read-more {
        color:white;
    }

    #partners img {
        padding: 0 30px;
    }

    #mh-logo {
        height: 90px;
    }
}

@media screen and (max-width : 767px)  {

    h1 {
        font-size: 2rem;
    }

    .container {
        padding: 0 20px;
    }

    #approach .container {
        border-radius: 0;
    }

    #approach {
        background-attachment: scroll;
    }

    .offerings {
        padding: 0;
    }

    .offerings-copy {
        margin: 5% 12%;
    }

    .events-copy {
        border-radius: 8px;
    }

    p {
        font-size: 1rem;
        margin: 0;
     }

}

@media screen and (min-width : 577px) {

    .offerings-copy {
        padding: 20px 0 0 0;
    }

    .why-gather {
        padding: 20px 35px;
        line-height: 2;
    }
}

@media screen and (max-width : 576px)   {

    h4, h4 a {
        font-size: 1.3rem;
    }

    p, p a {
        font-size: 1rem;
    }

    li, li a {
        font-size: 0.9rem;
    }

    #overview .lead  {
    	font-size: 1.5rem;
    }

    #approach .container {
    	padding: 30px 20px;
    }

    #approach {
        background-size:250%;
    }

    #why-gather-section {
    }

    .why-gather-bg {
        padding: 5px;
    }

    .why-gather {
        margin:70px 0;
    }

    .why-gather p {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    #offeringsTitle {
        margin:20px 0 5px 0;
    }

    .offerings-copy {
        margin: 4% 5%;
    }

    .past-events {
        margin-left:-15px;
        margin-right:-15px;
    }



    .events-copy {
        padding: 15px !important;
    }

    #aboutImg-container {
        height: 320px;
    }

    #frame-one185555046 {
        width: 100%;
    }

    #linked-in {
        font-size: 100%;
    }

    .partners {
        width: 280px;
        padding: 0 0 20px 0;
    }
}